<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler"/>
    </configSections>
    <dotless minifyCss="false" cache="false"/>

    <appSettings/>
    <connectionStrings/>

  <system.webServer>
      <handlers>
          <add name="dotless" path="*.less.css" verb="GET,HEAD" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition=""/>
      </handlers>
      <httpProtocol>
          <customHeaders>
            <add name="X-UA-Compatible" value="IE=edge,chrome=1"/>
          </customHeaders>
      </httpProtocol>
      <staticContent>
          <remove fileExtension=".svg" />
          <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
          <remove fileExtension=".woff" />
          <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      </staticContent>
    </system.webServer>
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpHandlers>
            <add path="*.less.css" verb="GET,HEAD" type="dotless.Core.LessCssHttpHandler, dotless.Core"/>
        </httpHandlers>
    </system.web>

</configuration>
